html {
  font-family: Ubuntu, sans-serif !important;
  font-size: 14px;
  font-weight: 300;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 4px;
}

a {
  color: #3a5fd6;
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  list-style-position: outside;

  > li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

li > ul {
  margin-top: 0.5rem;
  margin-left: 1.25rem;
}

label {
  margin-right: 16px;
}

.p-menu .p-menuitem-link:focus {
  box-shadow: none !important;
}

.p-tooltip {
  width: auto !important;
  max-width: unset !important;

  &-text {
    white-space: nowrap !important;
  }
}
